
    
    
    .dogFrame {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(10, 10, 11, 0.2);
    border-radius: 8px;
    width: 288px;
    height: 134px;
    margin: auto;
    left: 16px;
    top: 361px;
    

    }

    

    