@import url("https://fonts.googleapis.com/css?family=Sunflower:300&display=swap");

.greenCont {
  background: #bdb246;
  border-radius: 20px;
  text-align: center;
  max-width: 95%;
  margin: auto;

  font-family: Sunflower;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;

  color: red;
}

.brownCont {
  background: #8a6552;
  border-radius: 20px;

  font-family: Sunflower;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;

  color: #bdb246;
}
